@font-face {
	font-family: 'MKS';
	src: url('Miss_Katherine-Script.otf') format('truetype');
}

@font-face {
	font-family: 'SM';
	src: url('Sweet_Mavka.otf') format('truetype');
}

body{
	margin:0;
	padding: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
}

.b-page_newyear {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}

.b-page__content{min-height:200px}
.b-head-decor{display:none}
.b-page_newyear .b-head-decor{
	position:absolute;
	top:0;
	left:0;
	display:block;
	height:115px;
	width:100%;
	overflow:hidden;
	background: url(b-head-decor_newyear.png) repeat-x 0 0
}

.b-page_newyear .b-head-decor__inner{position:absolute;top:0;left:0;height:115px;display:block;width:373px}
.b-page_newyear .b-head-decor::before{content:'';display:block;position:absolute;top:-115px;left:0;z-index:3;height:115px;display:block;width:100%;box-shadow:0 15px 30px rgba(0,0,0,0.75)}
.b-page_newyear .b-head-decor__inner_n2{left:373px}
.b-page_newyear .b-head-decor__inner_n3{left:746px}
.b-page_newyear .b-head-decor__inner_n4{left:1119px}
.b-page_newyear .b-head-decor__inner_n5{left:1492px}
.b-page_newyear .b-head-decor__inner_n6{left:1865px}
.b-page_newyear .b-head-decor__inner_n7{left:2238px}

.b-ball{position:absolute}
.b-ball_n1{top:0;left:3px;width:59px;height:83px}
.b-ball_n2{top:-19px;left:51px;width:55px;height:70px}
.b-ball_n3{top:9px;left:88px;width:49px;height:67px}
.b-ball_n4{top:0;left:133px;width:57px;height:102px}
.b-ball_n5{top:0;left:166px;width:49px;height:57px}
.b-ball_n6{top:6px;left:200px;width:54px;height:70px}
.b-ball_n7{top:0;left:240px;width:56px;height:67px}
.b-ball_n8{top:0;left:283px;width:54px;height:53px}
.b-ball_n9{top:10px;left:321px;width:49px;height:66px}
.b-ball_n1 .b-ball__i{background:url(b-ball_n1.png) no-repeat}
.b-ball_n2 .b-ball__i{background:url(b-ball_n2.png) no-repeat}
.b-ball_n3 .b-ball__i{background:url(b-ball_n3.png) no-repeat}
.b-ball_n4 .b-ball__i{background:url(b-ball_n4.png) no-repeat}
.b-ball_n5 .b-ball__i{background:url(b-ball_n5.png) no-repeat}
.b-ball_n6 .b-ball__i{background:url(b-ball_n6.png) no-repeat}
.b-ball_n7 .b-ball__i{background:url(b-ball_n7.png) no-repeat}
.b-ball_n8 .b-ball__i{background:url(b-ball_n8.png) no-repeat}
.b-ball_n9 .b-ball__i{background:url(b-ball_n9.png) no-repeat}
.b-ball_i1 .b-ball__i{background:url(b-ball_i1.png) no-repeat}
.b-ball_i2 .b-ball__i{background:url(b-ball_i2.png) no-repeat}
.b-ball_i3 .b-ball__i{background:url(b-ball_i3.png) no-repeat}
.b-ball_i4 .b-ball__i{background:url(b-ball_i4.png) no-repeat}
.b-ball_i5 .b-ball__i{background:url(b-ball_i5.png) no-repeat}
.b-ball_i6 .b-ball__i{background:url(b-ball_i6.png) no-repeat}
.b-ball_i1{top:0;left:0;width:25px;height:71px}
.b-ball_i2{top:0;left:25px;width:61px;height:27px}
.b-ball_i3{top:0;left:176px;width:29px;height:31px}
.b-ball_i4{top:0;left:205px;width:50px;height:51px}
.b-ball_i5{top:0;left:289px;width:78px;height:28px}
.b-ball_i6{top:0;left:367px;width:6px;height:69px}
.b-ball__i {
	transition: opacity 1s;
	position:absolute;
	width:100%;
	height:100%;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	-o-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	pointer-events:none
}

.b-ball_bounce .b-ball__right{position:absolute;top:0;right:0;left:50%;bottom:0;z-index:9}
.b-ball_bounce:hover .b-ball__right{display:none}
.b-ball_bounce .b-ball__right:hover{left:0;display:block!important}
.b-ball_bounce.bounce>.b-ball__i{-webkit-transform:rotate(-9deg);-moz-transform:rotate(-9deg);-o-transform:rotate(-9deg);transform:rotate(-9deg)}
.b-ball_bounce .b-ball__right.bounce+.b-ball__i{-webkit-transform:rotate(9deg);-moz-transform:rotate(9deg);-o-transform:rotate(9deg);transform:rotate(9deg)}
.b-ball_bounce.bounce1>.b-ball__i{-webkit-transform:rotate(6deg);-moz-transform:rotate(6deg);-o-transform:rotate(6deg);transform:rotate(6deg)}
.b-ball_bounce .b-ball__right.bounce1+.b-ball__i{-webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);-o-transform:rotate(-6deg);transform:rotate(-6deg)}
.b-ball_bounce.bounce2>.b-ball__i{-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);transform:rotate(-3deg)}
.b-ball_bounce .b-ball__right.bounce2+.b-ball__i{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);transform:rotate(3deg)}
.b-ball_bounce.bounce3>.b-ball__i{-webkit-transform:rotate(1.5deg);-moz-transform:rotate(1.5deg);-o-transform:rotate(1.5deg);transform:rotate(1.5deg)}
.b-ball_bounce .b-ball__right.bounce3+.b-ball__i{-webkit-transform:rotate(-1.5deg);-moz-transform:rotate(-1.5deg);-o-transform:rotate(-1.5deg);transform:rotate(-1.5deg)}

@keyframes swing {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(var(--rotation-start)); }
	50% { transform: rotate(calc(var(--rotation-start) * -1)); }
	75% { transform: rotate(calc(var(--rotation-start) * 0.5)); }
	100% { transform: rotate(0deg); }
}

.b-ball {
 	transition: transform 0.3s;
}

.main-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -5vh;
}

.overlay,
.overlay2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	text-align: center;
}

.message {
	background-color: white;
	color: #111135;
	padding: 3vh;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
}

.message-content {
	display: flex;
	align-items: center;
	gap: 0.8vh;
	text-align: center;
	justify-content: center;
}

.message-text {
	font-size: 3vh;
	font-family: SM, sans-serif;
	text-align: center;
	justify-content: center;
}

@media (max-width: 599px) {
	.message {
		padding: 1.5vh;
	}

	.message-text {
		font-size: 1.5vh;
	}
}

.container1 {
	/*height: calc(75vh - 100px);*/
	height: auto;
	width: 90vw;
	/* top: 20%; */
	border-radius: 3rem;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	z-index: 3;
	margin: 0;
	padding: 0;
	align-items: center;
}

@media (max-width: 599px) {
	.container1 {
		border-radius: 1rem;
	}
}

.carousel {
	display: flex;
	width: 81.1%;
	overflow: auto;
	z-index: 5;
	padding-top: 6vh;
}

.block-container {
	display: flex;
	transition: transform 0.5s ease;
	padding-bottom: 4vh;
}

.block {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
	width: 35vh;
	height: 50vh;
	z-index: 5;
}

.block-image {
	width: 100%;
	height: 20%;
	object-fit: cover;
	border-radius: 2.5rem 2.5rem 0 0;
}

.block-text {
	padding: 2vh;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#123, #111);
	color: #fff;
	font-family: SM, sans-serif;
	font-size: 2.3vh;
	text-align: center;
	border-radius: 0 0 2.5rem 2.5rem;
	word-break: break-word;
}

.block-text1 {
	padding: 2vh;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#123, #111);
	color: #fff;
	font-family: SM, sans-serif;
	font-size: 2.3vh;
	text-align: center;
	border-radius: 0 0 2.5rem 2.5rem;
}

/*
.custom-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 2vh;
	height: 2vh;
	border: 0.3vh solid #fff;
	border-radius: 0.5vh;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.custom-checkbox:checked {
	background: #00CE00;
	border: 0.3vh solid #fff;
}

.custom-checkbox:checked::after {
	content: '✔';
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	top: 0.4vh;
	left: 0.2vh;
	width: 0.6vh;
	height: 0.6vh;
	border-radius: 0.3vh;
	color: #fff;
}
*/

.checkbox {
	width: 2vh;
	height: 2vh;
	margin-top: 1vh
}

@media (max-width: 599px) {
	.carousel {
		padding-top: 3vh;
	}

	.block {
		width: 12vh;
		height: 18vh;
	}

	.block-container {
		padding-bottom: 3vh;
	}

	.block-image {
		border-radius: 1rem 1rem 0 0;
	}

	.block-text {
		border-radius: 0 0 1rem 1rem;
		font-size: 0.7vh;
		padding: 1vh;
	}

	.block-text1 {
		border-radius: 0 0 1rem 1rem;
		font-size: 0.7vh;
	}

	/*
	.custom-checkbox {
		height: 1.6vh;
	}

	.custom-checkbox:checked::after {
		top: 0.1vh;
		left: 0vh;
	}
	*/

	.checkbox {
		margin-top: 0;
		width: 1.5vh;
		height: 1.5vh;
	}
}



.text1-container {
	font-size: 15vw;
	font-family: MKS, sans-serif;
	overflow-block: break-word;
	color: #111135;
	position: relative;
	text-align: center;
	z-index: 2;
}

.text2-container {
	font-size: 3vw;
	font-family: SM, sans-serif;
	overflow-block: break-word;
	color: #111135;
	position: relative;
	text-align: center;
	z-index: 2;
	margin-bottom: 2vh;
	margin-top: 2vh;
}

.container1::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(-45deg, #3c6801, #647e28, #899549, #acad6b, #cec68f, #dac48c, #d6a465, #d48049, #d0573a, #c81c39);
	border-radius: inherit;
	filter: blur(25px) brightness(1.5);
	transform: translateY(1%) scale(1);
	z-index: -1;
}

.container1::before {
	content: "";
	position: absolute;
	inset: 0;
	background: #fff;
	z-index: 1;
	border-radius: inherit;
}

.top-right-container {
	position: absolute;
	top: 1vh;
	right: 4vh;
	display: flex;
	align-items: center;
	z-index: 4;
}

.point-image {
	width: 3vh;
	height: auto;
	margin-right: 0.2vh;
}

.point-value {
	font-size: 3vh;
	color: #111135;
	font-family: SM, sans-serif;
}

@media (max-width: 599px) {
	.text2-container {
		margin-bottom: 0vh;
	}

	.top-right-container {
		top: 0.5vh;
		right: 2vh;
	}

	.point-image {
		width: 15px;
	}

	.point-value {
		font-size: 1.5vh;
	}
}

.input-container {
	opacity: 1;
	display: flex;
	position: relative;
	justify-content: center;
	z-index: 5;
	margin-bottom: 2vh;
}
 
.effect-2 {
	font-family: SM, sans-serif;
	width: 30vh;
	font-size: 3vh;
	border: 0;
	padding: 7px 0;
	border-bottom: 1px solid #ccc;
	outline: none;
	text-align: center;
}

.effect-2:focus ~ .focus-border {
	width: 0;
}

@media (max-width: 599px) {
	.input-container {
		margin-bottom: 1vh;
	}

	.effect-2 {
		font-size: 1vh;
		width: 10vh;
	}
}

.container2 {
	position: relative;
	z-index: 3;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.button-container {
	font-size: 2vw;
	font-family: SM, sans-serif;
	padding: 0vh 5vh 1vh 5vh;
	color: #111135;
	background-color: #fff;
	border: none;
	border-radius: 0 0 2rem 2rem;
	cursor: pointer;
	transition: color 0.1s;
}

.button-container:hover {
	color: #ebce08;
}

@media (max-width: 599px) {
	.button-container {
		border-radius: 0 0 0.5rem 0.5rem;
	}
}

.main {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#123, #111);
	/*
	opacity: 0;
	animation: main-loadup 1s forwards linear, main-loadup-bg 10s forwards linear;
	*/
	opacity: 1;
}

@keyframes main-loadup {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes main-loadup-bg {
	from {
		background-size: 100% 100%;
		background-position: 0% 0%;
	}

	to {
		background-size: 400% 400%;
		background-position: 0% 100%;
	}
}

.initial-snow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.initial-snow > * {
	font-size: 30px;
	color: #ABE7FE;
	position: absolute;
	top: -5vh;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}

	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

.snow:nth-child(2n) {
	filter: blur(1px);
	font-size: 20px;
}

.snow:nth-child(6n) {
	filter: blur(2px);
	font-size: 10px;
}

.snow:nth-child(10n) {
	filter: blur(5px);
	font-size: 10px;
}

@media (min-width: 0px) and (max-width: 2000px) {
	.initial-snow > * {
		font-size: 15px;
	}

	.snow:nth-child(2n) {
		font-size: 10px;
	}

	.snow:nth-child(6n) {
		font-size: 5px;
	}

	.snow:nth-child(10n) {
		font-size: 5px;
	}
}

.snow:nth-child(1) {
	--size: 0.8vw;
	--left-ini: 0vw;
	--left-end: -1vw;
	left: 70vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(2) {
	--size: 0.2vw;
	--left-ini: -7vw;
	--left-end: 10vw;
	left: 65vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(3) {
	--size: 1vw;
	--left-ini: 6vw;
	--left-end: 6vw;
	left: 1vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(4) {
	--size: 0.2vw;
	--left-ini: -3vw;
	--left-end: 9vw;
	left: 88vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(5) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -9vw;
	left: 74vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(6) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: 1vw;
	left: 35vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(7) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 27vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(8) {
	--size: 1vw;
	--left-ini: -9vw;
	--left-end: -2vw;
	left: 69vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(9) {
	--size: 0.2vw;
	--left-ini: -1vw;
	--left-end: -5vw;
	left: 84vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(10) {
	--size: 0.2vw;
	--left-ini: 7vw;
	--left-end: -9vw;
	left: 82vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(11) {
	--size: 0.6vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 48vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(12) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: 6vw;
	left: 39vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(13) {
	--size: 0.2vw;
	--left-ini: 6vw;
	--left-end: 5vw;
	left: 3vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(14) {
	--size: 0.8vw;
	--left-ini: -5vw;
	--left-end: -2vw;
	left: 49vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(15) {
	--size: 0.6vw;
	--left-ini: 10vw;
	--left-end: 4vw;
	left: 77vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(16) {
	--size: 0.8vw;
	--left-ini: -3vw;
	--left-end: 1vw;
	left: 86vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(17) {
	--size: 1vw;
	--left-ini: 6vw;
	--left-end: -7vw;
	left: 18vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(18) {
	--size: 1vw;
	--left-ini: -9vw;
	--left-end: 4vw;
	left: 64vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(19) {
	--size: 1vw;
	--left-ini: 2vw;
	--left-end: -7vw;
	left: 52vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(20) {
	--size: 0.4vw;
	--left-ini: 0vw;
	--left-end: 8vw;
	left: 5vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(21) {
	--size: 0.6vw;
	--left-ini: -9vw;
	--left-end: -2vw;
	left: 10vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(22) {
	--size: 0.8vw;
	--left-ini: -3vw;
	--left-end: -8vw;
	left: 54vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(23) {
	--size: 0.6vw;
	--left-ini: -7vw;
	--left-end: -8vw;
	left: 20vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(24) {
	--size: 0.4vw;
	--left-ini: 10vw;
	--left-end: -4vw;
	left: 68vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(25) {
	--size: 1vw;
	--left-ini: 3vw;
	--left-end: 5vw;
	left: 90vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(26) {
	--size: 1vw;
	--left-ini: -7vw;
	--left-end: 5vw;
	left: 71vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(27) {
	--size: 0.6vw;
	--left-ini: 9vw;
	--left-end: 4vw;
	left: 2vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(28) {
	--size: 1vw;
	--left-ini: -5vw;
	--left-end: 3vw;
	left: 23vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(29) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 39vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(30) {
	--size: 0.6vw;
	--left-ini: -9vw;
	--left-end: -5vw;
	left: 76vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(31) {
	--size: 0.4vw;
	--left-ini: -5vw;
	--left-end: 3vw;
	left: 14vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(32) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: -1vw;
	left: 86vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(33) {
	--size: 0.4vw;
	--left-ini: -3vw;
	--left-end: 10vw;
	left: 66vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(34) {
	--size: 1vw;
	--left-ini: -3vw;
	--left-end: 6vw;
	left: 75vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(35) {
	--size: 1vw;
	--left-ini: -6vw;
	--left-end: 7vw;
	left: 22vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(36) {
	--size: 1vw;
	--left-ini: 3vw;
	--left-end: 4vw;
	left: 10vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(37) {
	--size: 0.6vw;
	--left-ini: 2vw;
	--left-end: 10vw;
	left: 95vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(38) {
	--size: 0.8vw;
	--left-ini: 5vw;
	--left-end: 8vw;
	left: 34vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(39) {
	--size: 0.8vw;
	--left-ini: 4vw;
	--left-end: 0vw;
	left: 80vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(40) {
	--size: 0.8vw;
	--left-ini: 1vw;
	--left-end: -7vw;
	left: 45vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(41) {
	--size: 0.2vw;
	--left-ini: 9vw;
	--left-end: 10vw;
	left: 82vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(42) {
	--size: 1vw;
	--left-ini: 9vw;
	--left-end: -9vw;
	left: 22vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(43) {
	--size: 0.6vw;
	--left-ini: 5vw;
	--left-end: 8vw;
	left: 66vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(44) {
	--size: 0.6vw;
	--left-ini: -5vw;
	--left-end: -2vw;
	left: 75vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(45) {
	--size: 0.2vw;
	--left-ini: 0vw;
	--left-end: 3vw;
	left: 2vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(46) {
	--size: 0.2vw;
	--left-ini: 8vw;
	--left-end: -3vw;
	left: 94vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(47) {
	--size: 0.6vw;
	--left-ini: -6vw;
	--left-end: -9vw;
	left: 95vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(48) {
	--size: 0.2vw;
	--left-ini: -5vw;
	--left-end: 6vw;
	left: 34vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(49) {
	--size: 0.8vw;
	--left-ini: 4vw;
	--left-end: 8vw;
	left: 22vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(50) {
	--size: 0.2vw;
	--left-ini: -4vw;
	--left-end: 4vw;
	left: 100vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}